.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form-section, .botoes {
  display: none;
  width: 100%;
}


@media screen and (max-width: 600px){
  #areaForm{
    width: 100% !important;
  }
}